* {
  margin: 0;
  padding: 0;
  background-color: transparent;
  text-decoration: none;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

nav {
  height: 50px;
  display: flex;
  padding: 20px 48px;
  justify-content: space-between;
  backdrop-filter: blur(80px);
  align-items: center;
  border-bottom: #f0effb 1.5px solid;
}
.menu {
  display: flex;
  gap: 48px;
}
#hamburger-menu {
  display: none;
}

@media screen and (max-width: 1024px) {
  .menu {
    display: none;
  }

  #hamburger-menu {
    display: block;
    width: 24px;
    height: 24px;
  }
}

.menu p {
  margin: 0;
}

.menu span {
  display: flex;
}
.menu span img {
  width: 16px;
  height: 16px;
  padding-left: 8px;
}
#login {
  background-color: #fff;
  width: 92px;
  height: 48px;
  padding: 12px 24px;
  border: 2px solid #e0def7;
  border-radius: 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
#signup {
  background-color: #7065f0;
  width: 107px;
  height: 48px;
  padding: 12px 24px;
  border-radius: 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: white;
  border: none;
}
.login-buttons {
  display: flex;
  gap: 10px;
}

@media screen and (max-width: 1024px) {
  .login-buttons {
    display: none;
  }
}

/* HEADER */

#header-container {
  box-shadow: 0px 4px 200px 0px #e8f9f733;
  height: 800px;
  background-color: #f7f7fd;
  position: relative;
}

#header-container h1 {
  font-weight: 700;
  font-size: 64px;
  line-height: 70.4px;
  width: 544px;
  padding-left: 160px;
  z-index: 99;
  position: relative;
  padding-top: 72px;
}

@media screen and (max-width: 1024px) {
  #header-container h1 {
    font-size: 40px;
    line-height: 44px;
    font-weight: 700;
    width: 327px;
    padding: 0;
    margin-top: 48px;
    text-align: center;
  }
  #header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
  }
}

#header-container #header-p {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  width: 448px;
  padding-left: 160px;
  z-index: 99;
  position: relative;
  margin-top: 32px;
}

@media screen and (max-width: 1024px) {
  #header-container #header-p {
    font-size: 20px;
    line-height: 32px;
    font-weight: 400;
    width: 327px;
    text-align: center;
    padding: 0;
  }
}

#header-container .numbers-con {
  display: flex;
  gap: 80px;
  z-index: 99;
  position: relative;
  padding: 48px 160px;
}

@media screen and (max-width: 1024px) {
  #header-container #numbers-con-desk {
    display: none;
  }
}
#header-container .numbers-con img {
  display: inline;
  z-index: 99;
  position: relative;
}

#header-container .numbers-con p:first-of-type {
  margin: 0;
  padding: 0;
  display: flex;
  width: auto;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #7065f0;
  z-index: 99;
  position: relative;
}

#header-container .numbers-con p:nth-of-type(2) {
  color: #6c727f;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  z-index: 99;
  position: relative;
}

.numbers-con-mob {
  display: none;
}

@media screen and (max-width: 1024px) {
  #header-container .numbers-con-mob {
    display: flex;
    gap: 80px;
    z-index: 99;
    position: relative;
    padding: 48px 160px;
  }

  #header-container .numbers-con-mob img {
    display: inline;
    z-index: 99;
    position: relative;
  }

  #header-container .numbers-con-mob p:first-of-type {
    margin: 0;
    padding: 0;
    display: flex;
    width: auto;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #7065f0;
    z-index: 99;
    position: relative;
  }

  #header-container .numbers-con-mob p:nth-of-type(2) {
    color: #6c727f;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    z-index: 99;
    position: relative;
  }
}

.img-num-container {
  display: flex;
  gap: 24px;
  z-index: 99;
  position: relative;
}

#rent-list {
  display: flex;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 297px;
  background-color: white;
  margin-left: 160px;
  z-index: 99;
  position: relative;
}
@media screen and (max-width: 1024px) {
  #rent-list {
    margin: 0;
    margin-top: 48px;
    width: 328px;
  }
}

#rent-list p {
  padding: 15px 32px;
  font-weight: 400;
  font-size: 18px;
  line-height: 26.1px;
  cursor: pointer;
  border-bottom: 1px solid #e0def7;
}
#rent-list p:first-of-type {
  padding: 15px 32px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26.1px;
  color: #7065f0;
  border-bottom: 3px solid #7065f0;
}

#location-of-rent {
  background-color: white;
  z-index: 99;
  position: relative;
  display: flex;
  width: 700px;
  padding: 25px 32px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  gap: 40px;
  justify-items: center;
  margin-left: 160px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#location-of-rent div p:first-of-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
#location-of-rent div p:nth-of-type(2) {
  font-weight: 700;
  font-size: 18px;
  line-height: 26.1px;
}
#when-select {
  display: flex;
}

#cal-icon {
  height: 16px;
  padding-top: 30px;
  padding-left: 10px;
}

#location-of-rent button {
  background-color: #7065f0;
  border-radius: 8px;
  color: white;
  padding: 16px 32px;
  border: none;
  cursor: pointer;
}

#location-of-rent-mobile {
  display: none;
}

@media screen and (max-width: 1024px) {
  #location-of-rent-mobile {
    display: flex;
    background-color: white;
    backdrop-filter: blur(40px);
    width: 327px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  #location-of-rent {
    display: none;
  }
  #location-of-rent-mobile input {
    width: 100%;
    padding: 28px 16px;
    border: none;
  }
  #location-of-rent-mobile img {
    width: 48px;
    height: 48px;
    padding: 16px;
    border: none;
    color: white;
    border-radius: 0 0 8px 8px;
  }
}

#map {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  z-index: 2;
}

@media screen and (max-width: 1024px) {
  #map {
    display: none;
  }
}

#bath-sleep1 {
  display: flex;
  gap: 24px;
  margin-top: 16px;
}
#bath-sleep1 div {
  display: flex;
  gap: 8px;
}

#cart1-content {
  padding: 24px;
}

#cart1 {
  border: 1.5px solid #f0effb;
  width: 324px;
  position: absolute;
  top: 88px;
  right: 30%;
  z-index: 999;
  background-color: white;
  border-radius: 8px;
}

#cart1-content p:first-child {
  font-weight: 800;
  color: #7065f0;
  font-size: 24px;
  line-height: 36px;
  display: inline;
}
#cart1-content span {
  font-weight: 400;
  color: #000929;
  font-size: 14px;
  line-height: 19.6px;
}

#cart1-content h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #000929;
}

#cart1-content #cart1-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000929;
  margin-top: 8px;
  margin-bottom: 16px;
}

/* Fix Card */

#bath-sleep2 {
  display: flex;
  gap: 12px;
  margin-top: 12px;
  width: 16px;
  height: 16px;
}
#bath-sleep2 div {
  display: flex;
  gap: 8px;
}

#cart2-content {
  padding: 16px;
}

#cart2 {
  border: 1.5px solid #f0effb;
  width: 198px;
  position: absolute;
  bottom: 50px;
  right: 10%;
  z-index: 999;
  background-color: white;
  border-radius: 8px;
}

#cart2-content p:first-child {
  font-weight: 800;
  color: #7065f0;
  font-size: 16px;
  line-height: 24px;
  display: inline;
}
#cart2-content span {
  font-weight: 400;
  color: #000929;
  font-size: 14px;
  line-height: 19.6px;
}

#cart2-content h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #000929;
}

#cart2-content #cart2-p {
  font-weight: 400;
  font-size: 12px;
  line-height: 16.2px;
  color: #000929;
  margin-top: 8px;
  margin-bottom: 16px;
}

#bath-sleep2 p {
  font-size: 12px;
}
@media screen and (max-width: 1400px) {
  #cart1 {
    display: none;
  }
  #cart2 {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  #cart1 {
    display: none;
  }
  #cart2 {
    display: none;
  }
}
#main-container {
  background-color: #fff;
  padding: 80px 160px;
}

#purple-con {
  background-color: #f7f7fd;
  display: flex;
  width: 100%;
  min-height: 500px;
  justify-content: space-between;
  border: 1.5px solid #e0def7;
  border-radius: 8px;
}

#main-container #purple-con div h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  color: #100a55;
  margin: 64px 0 0 64px;
  width: 400px;
}

#main-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 25.6px;
  color: #6c727f;
  margin-left: 64px;
  width: 270px;
  margin-top: 16px;
}
#house-main {
  height: 100%;
  min-width: 20px;
}

#percent {
  display: flex;
  width: 481px;
  margin-left: 64px;
  margin-top: 48px;
  gap: 32px;
}

#percent h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #000929;
}

#percent div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#percent img {
  width: 64px;
  height: 64px;
  margin-bottom: 16px;
}

#percent div p {
  font-size: 12px;
  font-weight: 400;
  line-height: 16.2px;
  color: #6c727f;
  margin-top: 4px;
}




@media screen and (max-width: 1024px) {
  #main-container #purple-con div {
    width: 80%;
  }
#percent{
  flex-direction: column;
}
#percent #percent-con{
  display: flex;
  justify-items: row;
  width: 100%;
  border: 1px solid red;
}
#percent #percent-con div{
  width: 100%;
  border: 1px solid blue;
  
}

#purple-con{
  flex-direction: column;
}


}
@media screen and (max-width: 768px) {
  #main-container {
    padding: 48px 24px;

  }
  #main-container #purple-con div h2 {
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    margin: 32px;
    width: 100%;
  }
  #main-container #purple-con {
    flex-direction: column;
    overflow: hidden;
    position: relative;
  }
  #house-main {
    display: block;
  }
  #main-p {
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    color: #6c727f;
    margin-left: 0;
    width: 100%;
    margin-left: 32px;
    margin-top: 16px;
  }
}

#location-container {
  padding: 80px 160px;
  background: linear-gradient(180deg, #ffffff 0%, #f0effb 100%);
}

#loc-titr h2 {
  font-size: 40px;
  line-height: 56px;
  font-weight: 700;
  color: #000929;
  margin-bottom: 16px;
}

#loc-titr p {
  font-size: 16px;
  line-height: 25.6px;
  font-weight: 400;
  color: #000929;
}

#location-container #browse {
  padding: 16px 32px;
  background-color: #7065f0;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

#loc-titr-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* CARDS */

.bath-sleep {
  display: flex;
  margin-top: 16px;
  justify-content: space-between;
}
.bath-sleep div {
  display: flex;
  gap: 9px;
  align-items: center;
}
.bath-sleep div img {
  display: flex;
  height: 16px;
}

.cart-content {
  padding: 24px;
}

.cart {
  border: 1.5px solid #f0effb;
  width: 352px;
  height: 424px;
  background-color: white;
  border-radius: 8px;
  box-sizing: border-box;
  position: relative;
}

.cart-content p:first-child {
  font-weight: 800;
  color: #7065f0;
  font-size: 24px;
  line-height: 36px;
  display: inline;
}
.cart-content span {
  font-weight: 400;
  color: #000929;
  font-size: 14px;
  line-height: 19.6px;
}

.cart-content h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #000929;
}

.cart-content .cart-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000929;
  margin-top: 8px;
}

.price-fav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#property-container {
  margin-top: 32px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 27px;
  row-gap: 32px;
  justify-content: center;
}

.cart .line {
  width: 100%;
}

.popular {
  position: absolute;
  left: -8px;
  width: 113px;
  top: 184px;
}

/* testimonials */

#test-container {
  background: linear-gradient(180deg, #f0effb 0%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 0px 4px 200px 0px #e8f9f733;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
  padding-top: 64px;
  padding-bottom: 100px;
}

#test-container h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  color: #000929;
  margin-bottom: 16px;
}

#test-container p:first-of-type {
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
}

#test-container p:nth-of-type(2) {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  width: 736px;
  margin-top: 64px;
  color: #000929;
}

#test-container p:nth-of-type(3) {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 32px;
  margin-bottom: 56px;
  color: #000929;
}

#test-container p span {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000929;
}

#test-container div {
  justify-content: center;
  display: flex;
  gap: 24px;
}

@media screen and (max-width: 1024px) {
  #test-container p {
    width: 100%;
  }
  
}

/* purple footer */
#purple-footer {
  width: 100%;
  height: 442px;
  background-color: #100a55;
  box-shadow: 0px 4px 200px 0px #e8f9f733;
  display: flex;
  justify-content: center;
}

#purple-footer-container {
  width: 544px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;
}

#purple-footer-container h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  color: #7065f0;
  margin-bottom: 8px;
}

#purple-footer-container h3 {
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
  margin-bottom: 16px;
}

#purple-footer-container p:first-of-type {
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
  color: #d3d5da;
  margin-bottom: 32px;
}
#purple-footer-container div {
  width: 100%;
  display: flex;
  position: relative;
}
#purple-footer-container div input {
  width: 100%;
  height: auto;
  background-color: #fff;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  line-height: 26.1px;
  font-weight: 400;
  color: #000929;
  padding: 27px 24px;
}
#purple-footer-container div button {
  border: none;
  background-color: #7065f0;
  color: white;
  padding: 12px 40px;
  height: 48px;
  border-radius: 8px;
  position: absolute;
  right: 16px;
  top: 16px;
  cursor: pointer;
}

#purple-footer-container p:last-of-type {
  margin-top: 24px;
  color: #9ea3ae;
  font-size: 14px;
  line-height: 19.6px;
  font-weight: 400;
}

#purple-footer-container p:last-of-type span {
  color: #ffffff;
}

footer {
  padding: 80px 160px;
  display: flex;
  gap: 15%;
}
footer img {
  width: 151px;
  height: 40px;
}

#container-right {
  display: flex;
  gap: 88px;
}

#container-right div h5 {
  color: #000929;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 16px;
}

#container-right div p {
  color: #000929;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  margin-bottom: 10px;
}

#container-right div h5:nth-of-type(2) {
  margin-top: 48px;
}

#copyrights {
  padding: 32px 160px;
  display: flex;
  justify-content: space-between;
  border-top: 1.5px solid #e8e6f9;
  box-shadow: 0px 4px 200px 0px #e8f9f733;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
  color: #000929;
}
